<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th> 滿額條件 </th>
      <th> 運費 </th>
      <th> 使用中 </th>
      <th> 開放時間 </th>
    </tr>
  </thead>
  <tbody>
    <% rules.each do |rule| %>
    <tr>
      <td> <%= rule.reach %> </td>
      <td> <%= rule.cost %> </td>
      <td>
        <input type="checkbox"
        data-id=<%= rule.id %>
        <%= 'checked' if rule.is_open %>
        class="make-switch switch-openness"
        data-size="mini">
      <td> <%= during_of_open rule %> </td>
      <td>
        <%= link_to(admin_cost_path(rule),  method: :delete, class: 'btn btn-sm blue', data: { "confirm-swal" => 'Are you sure?' }) do %>
        <i class="fa fa-trash"></i>
        <% end %>
      </td>
    </tr>
    <% end%>
  </tbody>
</table>
