<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "login-form" } ) do |f| %>
<h3 class="form-title font-green">Sign In</h3>
<div class="form-group">
  <label class="control-label visible-ie8 visible-ie9">Email</label>
  <%= f.text_field :email, class: 'form-control form-control-solid placeholder-no-fix', required: false, autofocus: true, placeholder: :email %>
</div>
<div class="form-group">
  <label class="control-label visible-ie8 visible-ie9">Password</label>
  <%= f.password_field :password, class: 'form-control form-control-solid placeholder-no-fix', required: false, autofocus: true, placeholder: :Password %>
</div>

<div class="form-actions">
  <%= f.submit 'Login', class: 'btn green uppercase' %>
  <label class="rememberme check mt-checkbox mt-checkbox-outline">
    <%= f.check_box :remember_me, as: :boolean if devise_mapping.rememberable? %> Remeber
  <span></span>
  </label>
</div>
<% end %>
