<p class="form-control-static">
  <i class="fa fa-dollar"></i>
  <strong>加購商品:</strong>
</p>

<% addition.addition_products.each do |addition_product| %>
<div>
  <label>
    <input name="addition_ids[]"class="addition_ids" type="checkbox" value="<%= addition_product.product_id %>"> <%= addition_product.product.title %>
    <del><%= currency addition_product.product.price %></del>
    <font class="font-red-haze"> <%= currency addition_product.price %> </font>
    <span></span>
  </label>

  <%= link_to(product_path(addition_product.product), target: "_blank", class: "btn xs-btn") do %>
    <i class="fa fa-external-link"></i>
  <% end  %>
</div>
<% end  %>
