<%= simple_form_for current_object, html: {class: 'form-horizontal'} do |f| %>
<div class="form-actions top">
  <%= f.button :submit, '儲存', class: 'btn green' %>
  <%= link_to("取消", products_path, class: "btn default") %>
</div>
<div class="form-body">
  <%= f.input :title, placeholder: '商品名稱' %>
  <%= f.input :price, placeholder: '價格', input_html: { class: 'input-small' } %>
  <%= f.input :status, collection: Product.statuses, label_method: :first, value_method: :first, input_html: { class: 'input-small' } %>
  <%= f.input :calculate, placeholder: '數量', input_html: { class: 'input-small' }  %>
  <%= react_component("specs", { items: current_object.specs }) %>
  <%= f.input :description, placeholder: '商品描述' %>
</div>
<div class="form-actions">
  <%= f.button :submit, '儲存', class: 'btn green' %>
  <%= link_to("取消", products_path, class: "btn default") %>
</div>
<% end %>
