<div class="col-sm-6 col-md-3 product">
  <%= link_to(product_path(product)) do %>
    <%= image product %>
    <p><%= render_title product.title %></p>
  <% end %>
    <div class="caption">
      <div class="number">
        <h5>
          <%= special_hint(product) if product.special.try(:active?) %>
          <span>
            <span style="padding-right:5px;">
            </span>
            <font class="font-red-haze">$
              <%= product.real_price %>
            </font>
            <% if product.has_gift_product && !product.has_gift_product.is_limiting? %>
            <span style="padding-left:20px;">
              <i class="fa fa-gift"></i>
            </span>
            <% end %>
          </span>
        </h5>
      </div>
    </div>
    <br />
</div>
