<div class="col-sm-6 col-md-3 product">
  <%= link_to(product_path(product)) do %>
    <%= image product %>
    <p><%= render_title product.title %></p>
  <% end %>
    <div class="caption">
      <div class="number">
        <h5 class="font-red-haze">
          <small class="font-red-haze">$</small>
          <span><%= product.price %></span>
        </h5>
        <%= link_to add_cart_path(product.id), method: "post", :remote => true, class:'btn btn-danger add-item'  do %>
          加入購物車<i class="fa fa-cart-plus"></i>
        <% end %>
      </div>
    </div>
    <br />
</div>
